.nav-bg{
    background-color: #00008B;
}

.main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li{
    position: relative;
}

.main-menu > li > a::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color: #00FFFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.20s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-menu > li:hover > a::before{
    width: 100%;
}

.main-menu > li:hover > a > i{
    color: #00FFFF;
}

.main-menu li a{
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.main-menu li:hover ul.sub-menu{
    display: block;
}

.sub-menu{
    position: absolute;
    background-color: #00008B;
    list-style: none;
    width: 200px;
    z-index: 99;
    border: 1px solid rgb(97, 97, 97);
    display: none;
}

.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid rgb(200, 226, 255);
}

.sub-menu li:hover a{
    border-bottom: 1px solid rgb(94, 94, 94);
}

.sub-menu li:last-child a{
    border: none;
}

.fa-css{
    margin: 0px 0px 0px 5px;
}
